{% extends "base.html" %}

{% block title %} {% endblock title %}


{% block content %}
{% include 'core/inludes/search-form.html' %}


<div class="clinics">
  <div class="container">
    <nav class="breadcrumb" aria-label="Breadcrumb">
      <ol class="breadcrumb__list">
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="/">Medico24</a><span>»</span>
        </li>
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="/{{ request.session.city_slug }}">{{ request.session.city_name }} </a><span>»</span>
        </li>
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="#" aria-current="location"
            >{{type.name}}</a
          >
        </li>
      </ol>
    </nav>
    <div class="clinics__header">
      {{type.name}}
    </div>
    <div class="clinics__description">
      {{type.description}}
    </div>
    <div class="clinics__list">
    {% for clinic in clinics %}
      <article class="clinics__item">
        <aside class="clinics__aside-left">
          <figure class="clinics__figure">
            <img
              src="{{clinic.image.url}}"
              alt="Dummy Image"
              class="clinics__image"
            />
          </figure>
        </aside>
        <aside class="clinics__aside-right">
          <header class="clinics__top">
            <a href="" class="clinics__title"
              >{{clinic.name}}</a
            >

          </header>
          <div class="clinics__phone">
            <div class="clinics__phone-number">{{clinic.phone}}</div>
            <a href="#" class="clinics__phone-time">Открыто до 17:00</a>
          </div>
          <div class="clinics__body">
            <p class="clinics__copy">
              {{clinic.description}}
            </p>
          </div>
          <div class="clinics__address">{{clinic.street}} {{clinic.house_number}}</div>
        </aside>
      </article>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}